[Unit] 
Description=Cognite OPC-UA Extractor Service (%I)
After=network.target 
StartLimitIntervalSec=0 
 
[Service] 
Type=simple 
Restart=always 
RestartSec=1
ExecStartPre= mkdir -p /var/lib/cognite/opcua/%i/
ExecStartPre= mkdir -p /var/log/cognite/opcua/%i/ 
ExecStartPre= mkdir -p /etc/cognite/opcua/%i/
ExecStartPre= ln -sfn /etc/cognite/opcua/%i/ /var/lib/cognite/opcua/%i/config
ExecStartPre= ln -sfn /var/log/cognite/opcua/%i/ /var/lib/cognite/opcua/%i/logs
ExecStart=/usr/bin/opcua-extractor -s -w /var/lib/cognite/opcua/%i/ --log-dir logs/.log

[Install] 
WantedBy=multi-user.target
