[*.cs]

# CA1303: Do not pass literals as localized parameters
# We don't localize
dotnet_diagnostic.CA1303.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
# Disabled because while explicitly calling configureAwait might make sense, the opposite literally never applies in this program, and probably never will.
dotnet_diagnostic.CA2007.severity = none

# CA2227: Collection properties should be read only
# Disabled globally because we only really do this for DTOs, which there are a few of.
dotnet_diagnostic.CA2227.severity = none

# CA1031: Do not catch general exception types
# Disabled because explicitly stating every single error type that may occur inside SDKs and the like isn't possible,
# and trying would just add bugs in the form of uncaught errors that are not handled properly.
dotnet_diagnostic.CA1031.severity = none

# CA1054: Uri parameters should not be strings
# Namespaces are URIs only in a perfect world, they may be anything.
dotnet_diagnostic.CA1054.severity = none

# CA1056: URI-like properties should not be strings
dotnet_diagnostic.CA1056.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1062: Validate parameters of public methods.
# Disabled due to nullable analysis
dotnet_diagnostic.CA1062.severity = none

# CA1002: Do not expose generic lists
# Nice in theory, but IList or other basic interfaces do not support AddRange, which means that this has a potentially serious performance cost.
dotnet_diagnostic.CA1002.severity = none

# LoggerDelegates might be good, but are way too verbose for now.
dotnet_diagnostic.CA1848.severity = none

# IDE0090: Use 'new(...)' - avoiding this.
dotnet_diagnostic.IDE0090.severity = none

# CA1851: Possible multiple enumerations. Nice in theory, but this one is a bit overzealous.
dotnet_diagnostic.CA1851.severity = none

# CA1861: Prefer static readonly fields over constant array arguments. Not really that important where this pops up, and there are tons of false positives.
dotnet_diagnostic.CA1861.severity = none