# IDE/OS Specific
.vscode/
.vs/
*.swp
.DS_Store
.ionide/
.idea/

# C# specific
obj/
bin/
build/

# Temp data
certificates/
Logs/
*.sql
*.sql-journal
buffer.bin
*.lcov
coverage.json
paket-files/
Extractor/Properties
*.bin

# Config
config.yml
config.yml.*
