# IDE/OS Specific
.vscode/
.vs/
*.swp
.DS_Store
.ionide/
.idea/

# C# specific
obj/
bin/
build/

# Temp data
certificates/
servercertificates/
Logs/
*.sql
*.sql-journal
buffer.bin
*.lcov
coverage.json
paket-files/
ExtractorLauncher/Properties
OpcUaService/Properties
*.bin
*.db

# Config
config/*
!config.example.yml
!opc.ua.net.extractor.Config.xml
!Server.Test.Config.xml
!config.bridge.example.yml

# MSI Setup
OpcUaExtractorSetup/ProductInstallFiles.wxs
OpcUaExtractorSetup/ProductInstallFiles-all.wxs
