source https://www.nuget.org/api/v2
storage: none

nuget Microsoft.CSharp
nuget coverlet.msbuild
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.Extensions.Http.Polly
nuget OPCFoundation.NetStandard.Opc.Ua
nuget Prometheus.Client.MetricPusher
nuget Prometheus.Client.MetricServer
nuget YamlDotNet
nuget CogniteSdk
nuget AdysTech.InfluxDB.Client.Net.Core
nuget Serilog
nuget Serilog.Sinks.GoogleCloudLogging
nuget Serilog.Formatting.Compact
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.File
nuget Microsoft.CodeAnalysis.FxCopAnalyzers
nuget Microsoft.Windows.Compatibility
nuget LiteDB 4.1.4
nuget LiteQueue
