<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- The URL of the OPC-UA server to connect to -->
        <add key="clientURL" value="opc.tcp://localhost:4840" />
        <!-- Auto accept connections, if this is true, no certificates will be used. Do not set to true in prod! -->
        <add key="autoaccept" value="false" />
        <!-- Maximum number of results to return when reading historical data. 0 for unlimited, though lower numbers give
        higher reliability, as data is pushed to CDF after a read finishes -->
        <add key="maxResults" value="100" />
        <!-- Polling interval in ms between each test of changes to a subscribed variable -->
        <add key="pollingInterval" value="500" />

        <!-- Map OPC-UA namespaces to prefixes in CDF. 
            Ex: <add key="urn:cognite:net:server" value="cns">
            Saves space compared to using the full URL. Using the ns index is not safe
        -->
        <add key="urn:freeopcua:python:server" value="fps" />
        <add key="http://examples.freeopcua.github.io" value="efg" />
    </appSettings>
</configuration>