<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- The URL of the OPC-UA server to connect to -->
        <add key="clientURL" value="opc.tcp://localhost:4840" />
        <!-- Auto accept connections, if this is true, no certificates will be used. Do not set to true in prod! -->
        <add key="autoaccept" value="false" />


        <!-- Map OPC-UA namespaces to prefixes in CDF. 
            Ex: <add key="urn:cognite:net:server" value="cns">
            Saves space compared to using the full URL. Using the ns index is not safe
        -->
        <add key="urn:freeopcua:python:server" value="fps" />
        <add key="http://examples.freeopcua.github.io" value="efg" />
    </appSettings>
</configuration>