<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?define ProductVersion="$(var.target_version)" ?>
    <?define ProductId="*" ?>
    <?define Name="$(var.product_name) $(var.target_version)" ?>
    <?define NameSimple="$(var.product_name)" ?>
	<?define ManagerBuild=$(var.manager_build)?>
	<?define ManifestsDir=$(var.manifests_dir)?>

    <Product Id="$(var.ProductId)"
             Name="$(var.Name)"
             Language="1033"
             Version="$(var.ProductVersion)"
             Manufacturer="Cognite AS"
             UpgradeCode="$(var.upgrade_guid)" >
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.NameSimple) is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />
        <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Resources\InstBanner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Resources\InstDialog.bmp" />
        <WixVariable Id="WixUIExclamationIco" Value="Resources\black32x32.ico" />
        <WixVariable Id="WixUIInfoIco" Value="Resources\black32x32.ico" />
        <WixVariable Id="WixUINewIco" Value="Resources\black16x16.ico" />
        <WixVariable Id="WixUIUpIco" Value="Resources\black16x16.ico" />

        <Icon Id="AppIcon.ico" SourceFile="Resources\black16x16.ico" />

        <Property Id="INSTALLFOLDER" Value="C:\Cognite">
            <RegistrySearch Id="CogniteRegistry$(var.product_short_name)Folder" Type="raw" Root="HKLM" Key="Software\Cognite\$(var.product_short_name)" Name="InstallFolder" />
        </Property>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="$(var.Name) - Is now installed." />

        <Property Id="ARPCOMMENTS">$(var.Name)</Property>
        <Property Id="ARPCONTACT">Cognite Support</Property>
        <Property Id="ARPHELPLINK">http://www.cognite.com</Property>
        <Property Id="ARPURLINFOABOUT">http://www.cognite.com</Property>
        <Property Id="ARPURLUPDATEINFO">http://www.cognite.com</Property>
        <Property Id="ARPPRODUCTICON">AppIcon.ico</Property>

        <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
            <ComponentGroupRef Id="ExecutableComponentGroup" />
            <ComponentGroupRef Id="OpcUaExtractorConfigFilesComponentGroup" />
			<ComponentGroupRef Id="OpcUaServiceManagerFilesComponentGroup"/>
			<ComponentGroupRef Id="OpcUaManifestFilesComponentGroup"/>
            <!-- If you are referencing multiple separate products, add them here -->
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Cognite">
                    <Directory Id="ProductFolder" Name="$(var.product_short_name)">
                        <Directory Id="ConfigFolder" Name="config" />
                        <Directory Id="LogsFolder" Name="logs" />
                        <Directory Id="ExecutableFolder" Name="bin" />
						<Directory Id="OpcUaServiceManagerFolder" Name="OpcUaServiceManager" />
						<Directory Id="ManifestsFolder" Name="manifests" />
                        <!-- Additional directories can be added here -->
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ExecutableComponentGroup">
            <?if "$(var.service)"="true" ?>
            <Component Id="Primary_exe" Guid="*" Directory="ExecutableFolder">
                <File Source="$(var.build_dir)\$(var.exe_name)" />

                <?ifdef service_args?>
                <ServiceInstall Id="ServiceInstaller"
                                Type="ownProcess"
                                Vital="yes"
                                Name="$(var.product_short_name)"
                                DisplayName="$(var.Name)"
                                Description="$(var.Name) service."
                                Start="auto"
                                Account="LocalSystem"
                                ErrorControl="ignore"
                                Interactive="no"
                                Arguments="$(var.service_args)">



                    <util:ServiceConfig FirstFailureActionType="restart"
                                        SecondFailureActionType="restart"
                                        ThirdFailureActionType="restart"
                                        RestartServiceDelayInSeconds="10" />
                    <ServiceDependency Id="Dnscache" />
                    <ServiceConfig DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes" />
                </ServiceInstall>
                <?else ?>
                <ServiceInstall Id="ServiceInstaller"
                            Type="ownProcess"
                            Vital="yes"
                            Name="$(var.product_short_name)"
                            DisplayName="$(var.Name)"
                            Description="$(var.Name) service."
                            Start="auto"
                            Account="LocalSystem"
                            ErrorControl="ignore"
                            Interactive="no">
                    <util:ServiceConfig FirstFailureActionType="restart"
                                        SecondFailureActionType="restart"
                                        ThirdFailureActionType="restart"
                                        RestartServiceDelayInSeconds="10" />
                    <ServiceDependency Id="Dnscache" />
                    <ServiceConfig DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes" />
                </ServiceInstall>
                <?endif?>
                <ServiceControl Id="StartService" Stop="both" Remove="uninstall" Name="$(var.product_short_name)" Wait="no" />
                <!-- This EventSource Name need to match whats being used as event source in the service. -->
                <util:EventSource Name="$(var.product_short_name)" Log="Application" EventMessageFile="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\EventLogMessages.dll" />
                <RegistryKey Id="ProductKey" Action="createAndRemoveOnUninstall" Root="HKLM" Key="Software\Cognite\$(var.product_short_name)">
                    <RegistryValue Id="ProductRegPath" Action="write" Name="InstallFolder" Type="string" Value="[INSTALLFOLDER]" />
                </RegistryKey>
            </Component>
            <?else?>
            <Component Id="Primary_exe" Guid="*" Directory="ExecutableFolder">
                <File Id="Product.exe" Source="$(var.build_dir)\$(var.exe_name)" />
            </Component>
            <?endif?>
        </ComponentGroup>


		<ComponentGroup Id="OpcUaExtractorConfigFilesComponentGroup">
			<!--OpcUaExtractor config file-->
			<Component Id="config_minimal_yml" Guid="41770C94-2F03-423C-B775-8D4B35FBCBED" Directory="ConfigFolder">
				<File Id="config.minimal.yml" Name="config.minimal.yml" Source="$(var.config_dir)\config.minimal.yml" />
			</Component>
			<Component Id="config_example_yml" Guid="BD4BFAD2-3D5E-4718-BF38-04ADE8209EAF" Directory="ConfigFolder">
				<File Id="config.example.yml" Name="config.example.yml" Source="$(var.config_dir)\config.example.yml" />
			</Component>
			<Component Id="opc_ua_net_extractor_Config" Guid="C1F2FD46-1E38-4C1F-B4CF-58BFD589618C" Directory="ConfigFolder">
				<File Id="opc.ua.net.extractor.Config.xml" Name="opc.ua.net.extractor.Config.xml" Source="$(var.config_dir)\opc.ua.net.extractor.Config.xml" />
			</Component>
		</ComponentGroup>
		<!-- Service Manager -->
		<ComponentGroup Id="OpcUaServiceManagerFilesComponentGroup">
			<Component Id="OpcUaServiceManager_exe" Guid="451FDBD1-073E-4F89-AA3E-2B477E09A547" Directory="OpcUaServiceManagerFolder">
				<File Id="OpcUaServiceManager.exe" Name="OpcUaServiceManager.exe" Source="$(var.ManagerBuild)\OpcUaServiceManager.exe" />
			</Component>
			<Component Id="OpcUaServiceManager_exe_config" Guid="DC11E72E-ABE8-4021-B165-0DD07F295580" Directory="OpcUaServiceManagerFolder">
				<File Id="OpcUaServiceManager.exe.config" Name="OpcUaServiceManager.exe.config" Source="$(var.ManagerBuild)\OpcUaServiceManager.exe.config" />
			</Component>
			<Component Id="README_txt" Guid="C6FD919D-2A91-49FD-BAB1-C6CF4F508AEE" Directory="OpcUaServiceManagerFolder">
				<File Id="README.txt" Name="README.txt" Source="$(var.ManagerBuild)\README.txt" />
			</Component>
		</ComponentGroup>
		<!-- Manifests -->
		<ComponentGroup Id="OpcUaManifestFilesComponentGroup">
			<Component Id="manifest_extractor_spdx_json" Guid="E1CEAB0E-2DAC-4CFB-BF0A-47AD1CE11B8F" Directory="ManifestsFolder">
				<File Id="manifest.extractor.spdx.json" Name="manifest.extractor.spdx.json" Source="$(var.ManifestsDir)\manifest.extractor.spdx.json" />
			</Component>
			<Component Id="manifest_extractor_spdx_json_sha256" Guid="36000313-FB05-49F3-8404-8AD12C5F2A50" Directory="ManifestsFolder">
				<File Id="manifest.extractor.spdx.json.sha256" Name="manifest.extractor.spdx.json.sha256" Source="$(var.ManifestsDir)\manifest.extractor.spdx.json.sha256" />
			</Component>
			<Component Id="manifest_manager_spdx_json" Guid="ADE84F3B-0BF0-4A07-9C0A-36C0BC07C9FF" Directory="ManifestsFolder">
				<File Id="manifest.manager.spdx.json" Name="manifest.manager.spdx.json" Source="$(var.ManifestsDir)\manifest.manager.spdx.json" />
			</Component>
			<Component Id="manifest_manager_spdx_json_sha256" Guid="C2B9A8C7-C172-4A1B-94A5-31F22F78B9C1" Directory="ManifestsFolder">
				<File Id="manifest.manager.spdx.json.sha256" Name="manifest.manager.spdx.json.sha256" Source="$(var.ManifestsDir)\manifest.manager.spdx.json.sha256" />
			</Component>
			<Component Id="manifest_spdx_json" Guid="4908EF02-576C-4670-BEC5-57487A5B486A" Directory="ManifestsFolder">
				<File Id="manifest.spdx.json" Name="manifest.spdx.json" Source="$(var.ManifestsDir)\manifest.spdx.json" />
			</Component>
			<Component Id="manifest_spdx_json_sha256" Guid="5E58B07B-E279-4C0E-B27E-3FDCC83F3807" Directory="ManifestsFolder">
				<File Id="manifest.spdx.json.sha256" Name="manifest.spdx.json.sha256" Source="$(var.ManifestsDir)\manifest.spdx.json.sha256" />
			</Component>
		</ComponentGroup>
    </Fragment>
</Wix>