name: Build and test extractor

on:
    workflow_call:
        secrets:
            CODECOV_TOKEN:
                required: true
    
jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
        - uses: actions/checkout@v4
        - name: Setup .NET
          uses: actions/setup-dotnet@v4
          with:
              dotnet-version: 8.0.x
        - name: Restore dependencies
          run: dotnet restore
        - name: Build
          run: dotnet build ExtractorLauncher/
        - name: Install test dependencies
          run: "sudo apt-get update && sudo apt-get -y install gnupg curl procps && curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add - && sudo apt-get install -y mosquitto"
        - name: Setup mosquitto
          run: mosquitto -p 4060 &
        - name: Setup influxdb
          run: sh setup-influxdb.sh
        - name: Run tests
          run: sh test.sh
        - name: Upload coverage to Codecov
          uses: codecov/codecov-action@v4
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
